
.nav { /*Top Nav Bar */
  background-color: rgba(0, 172, 241, 1);
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 50px;
}

.nav li { /*Top Nav Bar */
  display: inline;
  font-family: 'montserrat-semi-bold', sans-serif;
  font-size: 20px;
  padding: 20px ;
}

img.align-center { /*Hero Banner Image on Each Page */
  display: block;
  margin: 0 auto;
}

.content-wrap { /*content styling */
  width:1300px;
  margin: 0 auto;
  font-family: 'montserrat-semi-bold', sans-serif;
  line-height: 1.2;

}

li:not(:last-child) { /*Adds Space After Bullet List Items */
  padding-bottom: 15px;
}

.image_container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%; /*customize to your needs 100%*/
  height: 100%; /*customize to your needs*/
}
.nav-images { /*Home Image Nav Bar Bottom Page */
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
  .nav-images li { /*Home Image Nav Bar Bottom Page Alignment */
    display: inline;
    padding: 20px;
}
.video {
display: block;
margin: 0% 20% 0% 20%;
}
table {
  border: 2px;
  border-style: solid;
  border-color: rgba(241,153,5,1);
  border-collapse: collapse;
}
th {
  background-color:rgba(0,111,192,1);
  color: rgba(255,255,255,1);
  font-size: 1.5em;
  border-collapse: collapse;
  padding: 1%;
}
td{
  border: 2px;
  border-style: solid;
  border-color: rgba(241,153,5,1);
  border-collapse: collapse;
  padding: 1%;
}
